<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="#">Airbnb</a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">All Listings</a></li>
            <li><a href="#">Airbnb your home</a></li>
        </ul>
    </div>
</nav>