<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a href="#">Airbnb</a>
        </div>
        <ul class="nav-links">
            
            <li><a href="http://localhost:8080/listings">All Listings</a></li>
            <li><a href="http://localhost:8080/listing/new">Airbnb your home</a></li>
        </ul>
    </div>
</nav>